
/*bases*/
.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px; 
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}


/*classes for text*/
.header{
  font-family: Copperplate;
  text-align: center;
  color:white;
  font-size: 100px;
  font-weight: bold;
  line-height: 35px;
  animation: stretchName 5s 1;
}
.subHeading1{
  text-align: center;
  color: white;
  font-family: cursive;
  font-size: 40px;
  animation: dropText 5s 1;
}
.subHeading2{
  font-size: 60px;
  color: white;
  text-align: center;
  font-weight: bolder;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.subHeading3{
  font-size: 30px;
  color: white;
  text-align: center;
  font-weight: bolder;
  font-family: Verdana,sans-serif; 
}
.textCenter{
  text-align: center;
  margin-left: 7%;
  margin-right: 7%;
  font-size: 18px;
  font-family: Verdana,sans-serif; 
  color: white;
}
.textLeft {
  font-family: Verdana,sans-serif; 
  color: white;
  float: left;  
  font-size: 18px;
}

/*divs*/
#top{
  background-image: url('images/swerve.png');
  background-size: cover;
  background-position: center;
  height: 500px;
}
#footer {
  text-align: center;
  background-color: red;
  margin: 100px 0px 50px 0px;
}

/*bases and behaviors*/
html {
  scroll-behavior: smooth;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}
div{
  background-size: cover;
  margin: 0px 0 0px 0;
} 
ul{
  margin: 0px 0 100px 0;
  text-align: center;
  background: black;
  background-size: cover;
}
hr.solid {
  border-top: 3px solid red;
}
p {
  font-size: 15px;
  text-align: center;
  color: black;
}
li {
  display: inline;
  margin: 10px 30px 10px 30px;
}
u:hover{
  color: gray;
}
/*led strips*/
.glow{
  font-size: 80px;
  color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
  from {
    box-shadow: 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px red, 0 0 50px red, 0 0 60px red, 0 0 70px red;
  }
  to {
    box-shadow:  0 0 30px red, 0 0 40px red, 0 0 50px red, 0 0 60px red, 0 0 70px red, 0 0 80px red;
  }
}

/*Animation*/
@keyframes stretchName {
  0% {
    letter-spacing: 40px;
    color: white;
    margin-bottom: -90px;
    opacity: 0;
  }
  50% {
    letter-spacing: 1px;
    margin-bottom: -90px;
    opacity: 1;
  }
}
@keyframes dropText {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
}
/*Images*/

img{
  width: 350px; 
  height: 200px; 
  border: 5px solid white;
  margin: 10px 55px 10px 55px;
  object-fit: cover;
}

.container{
  display: inline-flex;
}
.overlay {   
  position: absolute;
  width: 350px;
  height: 200px;
  border: 5px solid white;
  opacity: 0;
  transition: 1s ease;
  background-color: red;
  margin: 10px 20px 10px 20px;
}
.overlay:hover {
  opacity: .8;
}
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.center {
  display: flex;
  width: 50%;
} 

/*color changing animation*/
button{
  border-color:red;
  border-radius: 10px;
  background-color:  black;
  color:  red;
}
button:hover{
  border-color: red;
  border-radius: 10px;
  background-color: red;
  color: black;
}

a:link{
  color: white;
}
a:visited{
  color: white;
}
a:hover{
  color: red;
}
a:active{
  color: white;
}    
a2{
  color: black;
}     
.fa {
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 10%;
  background-color: white;
  color: red;
}

.fa:hover {
  background-color: white;
}

.fa-linkedin {
  background-color: red;
}

.fa-instagram {
  background-color: red;
}     

/* My little game :)*/